.save-btn {
    margin: 10px 0 10px;
    height: 40px;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    text-transform: uppercase;
    background-color: rgb(66, 162, 162) !important;
    padding: 16px;
    display: inline-flex;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(66, 162, 162) !important;
    zoom: 1;
    user-select: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
  }
  .delete-account svg {
    font-size: 20px;
    margin-right: 2px;
  }
  .delete-account {
    margin-left: 10px !important;
    background-color: #fff !important;
    color: #7e7a7a !important;
    border: 1px solid rgb(171 169 169) !important;
    user-select: none;
    border-radius: 4px;
  }