.cart-wrapper {
    margin-top: 115px;
  }
  .cart-head .qty {
    font-weight: 500;
  }
  .bag-item-wrapper {
    padding: 30px;
    padding-bottom: 90px;
  }
  .cart-product-wrapper {
    background-color: rgb(244, 248, 251);
    margin-bottom: 20px;
  }
  .cart-product-wrapper .cart-product {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .cart-product-wrapper .cart-product .product-offer-wrapper {
    height: 60px;
    background-color: rgba(234, 128, 0, 0.1);
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 10px 5px 10px 14px;
    line-height: 1.44;
  }
  .cart-product .offer-text {
    font-size: 14px;
  }
  .cart-product .offer-head {
    line-height: 1.44;
    font-weight: 550;
  }
  .cart-product .offer-btn {
    font-size: 16px;
    color: #ea8000;
    height: 48px;
    border: none;
    padding: 0 10px;
    background-color: transparent;
  }
  .cart-product-inner {
    padding: 0 15px;
  }
  .cart-product-inner .product-left {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
  }
  .cart-product-inner .product-left .product-img {
    width: 104px;
    min-height: 130px;
    max-height: 166px;
    min-width: 104px;
    position: relative;
  }
  .cart-product-inner .product-left .product-img a img {
    width: 100%;
    border-radius: 5px;
  }
  
  .product-left .product-text .product-name {
    font-size: 14px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.7);
  }
  .product-left .product-price {
    margin-bottom: 6px;
  }
  .product-left .product-price .disc-price {
    font-size: 18px;
    margin-right: 5px;
    font-weight: 550;
  }
  .product-left .product-price .actual-price {
    color: #9c9c9c;
    font-size: 14px;
    text-decoration: line-through;
  }
  .product-text .product-apply {
    display: flex;
    align-items: center;
    margin: 9px 0 14px;
  }
  .product-left .product-apply img {
    width: 18px;
    height: 18px;
  }
  .product-left .product-apply p {
    font-size: 14px;
    margin-left: 5px;
    font-weight: 500;
  }
  .product-quantity .select-quantity {
    width: 40% !important;
    font-weight: 500;
  }
  .product-left .product-msg {
    color: #db3a34;
    font-size: 12px !important;
    line-height: 13px !important;
    margin-top: 12px;
    font-weight: 500;
  }
  .cart-product-inner .cart-bottom {
    border-top: 2px solid rgba(0, 0, 0, 0.04);
    margin: 0 10px;
    font-size: 12px;
  }
  .cart-product-inner .cart-bottom .product-action {
    width: 100%;
    display: flex;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
  .cart-bottom .product-action .remove-cart-item {
    padding: 18px 0;
    width: 35%;
    border-right: 2px solid rgba(0, 0, 0, 0.04);
    cursor: pointer;
    font-size: 14px;
  }
  .cart-bottom .product-action .move-item-wishlist {
    padding: 18px 0;
    width: 65%;
    cursor: pointer;
    font-size: 14px;
  }
 
  .right-section .offer-box {
    margin-bottom: 15px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 234, 234);
    background-color: rgb(255, 255, 255);
    color: rgb(45, 45, 45);
    line-height: 1.44;
    font-size: 14px;
    padding: 5px 15px;
  }
  .price-summary-box {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    margin-bottom: 30px;
    padding-right: 0;
  }
  .price-summary-box .summary-head {
    background: rgba(0, 0, 0, 0.04);
    padding: 13px 20px;
  }
  .price-summary-box .summary-head h4 {
    font-size: 11px;
    color: #000;
    font-weight: 550;
    margin-bottom: 0 !important;
  }
  .price-summary-box .summary-payment-box .price-calculate {
    padding-top: 16px;
    background-color: #fff;
    padding: 10px 16px;
  }
  .price-summary-box .summary-payment-box .price-calculate .inner {
    padding: 0 0 10px;
    border: none;
  }
  .price-summary-box .summary-payment-box .price-calculate .inner p {
    font-size: 12px;
    line-height: 18px;
    color: #292d35;
    margin: 0;
    font-weight: 500;
  }
  .price-summary-box .summary-payment-box .price-calculate .inner p.subtotal {
    font-weight: 600;
    font-size: 14px !important;
  }
  .add-address {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
    margin: 16px 0 0;
    width: 100%;
  }
  .add-address button {
    margin: 20px 0 10px;
    height: 40px;
    font-weight: 600;
    font-size: 14px !important;
    line-height: 16px !important;
    text-transform: uppercase;
    background-color: rgb(66, 162, 162);
    padding: 16px;
    display: inline-flex;
    cursor: pointer;
    width: 100%;
    font-size: 0.9rem;
    line-height: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(66, 162, 162);
    zoom: 1;
    user-select: none;
    border-radius: 4px;
  }
  .trust-badge-wrapper {
    background-color: #fff !important;
  }
  .trust-badge-wrapper .container {
    padding: 15px;
  }
  .trust-badge-wrapper .container img {
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    color: #8f98a9;
  }
  .trust-badge-wrapper .container span {
    color: #9499a5;
    font-size: 8px !important;
    line-height: 12px !important;
    text-align: center;
  }
  
  @media (min-width: 767px) {
    .cart-item-container .right-section {
      position: sticky;
      top: 100px;
    }
  }
  @media (max-width: 767px) {
    .product-quantity .select-quantity {
      width: 70% !important;
      font-weight: 500;
    }
  }
  