@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  --navbar-links-color: rgba(0, 0, 0, 0.8);
  --navbar-second-links-color: rgb(51, 51, 51);
  --navbar-third-link-color: #0e0e0e;
  --navbar-one-bg-color: #eeeeee;
  --main-bg-color: #ffffff;
  --main-btn-color: #45a2a2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif !important;
  text-rendering: optimizeLegibility;
  transition: 0.2s linear;
}
body.noside-drawer {
  overflow-y: overlay;
  position: initial;
  width: auto;
  top: initial;
}
body.open-side-drawer {
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  top: 0px;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  outline: 0 !important;
  font-size: 100% !important;
  vertical-align: baseline !important;
  background: transparent !important;
}
a {
  text-decoration: none !important;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0 !important;
}
.header-wrapper {
  width: 100%;
  z-index: 51;
  position: fixed;
  top: 0;
  height: 79px;
  transition: all 0.5s ease-in-out;
}
.bottom-header-wrapper {
  position: fixed;
  top: 78px;
  z-index: 3;
}
.top-header {
  display: flex;
  justify-content: space-between;
  background: var(--navbar-one-bg-color);
  padding: 6px 0 6px;
  font-weight: 500;
}
.top-header-left ul {
  display: flex;
  justify-content: start;
  gap: 18px;
  padding-left: 106px !important;
  font-size: 10px !important;
  margin-bottom: 0 !important;
}
.top-header-right ul {
  display: flex;
  justify-content: start;
  gap: 18px;
  padding-right: 106px !important;
  font-size: 10px !important;
  margin-bottom: 0 !important;
}
.main-head {
  width: 100%;
  background: #fff;
  height: 52px;
  line-height: 52px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* ---React-project-1---ac0ogzjs0uot */
.main-header {
  max-width: 1190px;
  margin: 0 auto;
}
.col-differ {
  padding: 0 9px !important;
}
.brand-img {
  line-height: 45px;
}
.main-header-dropdown .menu-wrapper {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.menuSelect {
  color: var(--navbar-second-links-color);
  height: 51px;
  display: inline-table;
  font-size: 13px;
  font-family: montserrat, sans-serif;
  vertical-align: middle;
  line-height: 45px;
  padding: 0 11px;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}
.search-container {
  width: 100%;
  text-align: left;
  height: 40px;
  position: relative;
}
.search-box-input {
  padding: 5px 5px 5px 40px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  box-shadow: none !important;
  width: 100% !important;
  background: var(--navbar-one-bg-color) !important;
  border: 1px solid transparent !important;
  color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
  position: relative !important;
  margin: 0;
  height: 100% !important;
  transition: all 0.1s ease-in 0.1s !important;
}
.search-box-input:focus {
  outline: none !important;
  background: #fff !important;
  border-color: #979797 !important;
}
.search-icon {
  position: absolute;
  left: 17px;
  top: 15px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.search-icon:focus {
  outline: none !important;
}
.actions-menu,
.header-icon-menu {
  position: relative;
  height: 50px;
  float: right;
  min-width: max-content;
  z-index: 1021;
}
.action-innermenu a,
.header-icon-menu a {
  padding: 15px 5px;
  line-height: normal;
  height: 51px;
  display: inline-table;
  font-size: 13px;
  color: var(--navbar-second-links-color);
  text-decoration: none;
  position: relative;
}
.action-innermenu .cart-count {
  margin-left: 0;
  position: absolute;
  top: 8px;
  right: -3px;
  border-radius: 50%;
  line-height: 1.5;
  background: #fdd835;
  color: rgba(0, 0, 0, 0.8);
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 12px !important;
}
.user-account-menuholder {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
  z-index: -1;
  width: 200px;
  top: 50px;
  left: -90px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}
.user-profile-icon:hover + .user-account-menuholder,
.user-account-menuholder:hover {
  display: block !important;
}

.user-account-menu {
  line-height: 52px;
}
.user-account-menu a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 15px 10px;
  line-height: normal;
}
.user-account-menu .username-style {
  font-style: italic;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  width: 100%;
}
.user-account-menu a:hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
}
.bottom-header-wrapper {
  position: fixed;
  top: 78px;
  z-index: 3;
  background-color: #fff;
  width: 100%;
  display: inline-flex;
  overflow-y: auto;
  white-space: nowrap;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.bottom-header-wrapper ul {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 0;
  height: fit-content;
  margin-left: 4px;
  padding-left: 0 !important;
}
.bottom-header-wrapper ul .tab-nav {
  cursor: pointer;
}
.bottom-header-wrapper ul li {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  border-bottom: 4px solid transparent;
  transition: all 0.3s ease-in 0s;
}
.bottom-header-wrapper li a {
  width: fit-content;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  display: block;
  color: var(--navbar-third-link-color);
  letter-spacing: 0.07px;
  line-height: 13px;
  padding: 21px 24px;
  text-decoration: none;
}
.bottom-header-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none !important;
}
/* md to sm nav */
.nav-header-sticky {
  z-index: 999;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--main-bg-color);
  /* height: 56px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.md-header {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 54px;
  align-items: center;
  gap: 5px;
}
.md-header .toggle-sidenav {
  padding: 0 8px 0 16px;
}
.md-header .toggle-sidenav svg {
  font-size: 24px;
  padding: 0;
  cursor: pointer;
}
.md-header .logo-sm-screen {
  display: block;
  width: calc(100% - 190px);
  color: #000;
}
.header-icon-menu {
  margin-left: 30px;
}
.header-icon-menu .action-innermenu {
  margin-left: 13px;
}
/* side menu drawer */
.sidemenu-drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: -2px;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  background: var(--main-bg-color);
  width: 250px;
  transform: translateX(-250px);
}
/* .side-nav-box .sideMenuOverlay {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  transition: all 0.3s ease-in-out;
} */
.sidemenu-head {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #d8d8d8;
}
.sidemenu-drawer .sidemenu-head .welcome-header {
  width: 100%;
  padding: 15px 20px;
  overflow: hidden;
}
.sidemenu-drawer .welcome-guest {
  margin-bottom: 0px !important;
}
.sidemenu-drawer .welcome-guest span {
  font-size: 16px !important;
  color: #000;
  line-height: normal;
  font-weight: bold;
}
.sidemenu-drawer .register a {
  color: #757575 !important;
  display: inline-block;
  padding: 15px 0;
  padding-bottom: 6px;
  font-size: 14px;
}
.sidemenu-mainmenu {
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  width: 100%;
  margin-top: 1px;
}
.sidemenu-mainmenu::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none !important;
}
.sidemenu-list-wrapper .menu-heading {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  line-height: normal;
  text-transform: uppercase;
  padding: 14px 20px 5px;
  font-weight: 700;
}
.sidemenu-list-wrapper ul .menu-list-option {
  display: block;
  padding: 0 25px 0 20px;
  font-size: 12px;
  position: relative;
  margin: 0;
  line-height: 48px;
  cursor: pointer;
}
.sidemenu-list-wrapper ul .menu-list-option a {
  color: #000;
  font-weight: 700;
}
.sidemenu-list-wrapper ul .menu-list-option svg {
  float: right;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.3);
}
.sidemenu-list-wrapper.contact {
  background-color: rgb(243, 243, 243);
}

@media (max-width: 991px) {
  .nav-header-sticky {
    display: block !important;
    height: 56px;
  }
  .bottom-header-wrapper {
    top: 56px;
    padding: 0px 20px;
  }
  .header-wrapper {
    height: 0px;
    display: none;
  }
  .sidemenu-drawer.open {
    transform: translateX(0px);
  }
}
/* login css */
.auth-container {
  height: calc(100vh - 78px);
  margin-top: 78px;
}
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  height: calc(100vh - 79px);
}
.auth-container .login-welcome-text {
  font-size: 30px;
  color: #000;
  margin: 6% 0 0 5%;
  letter-spacing: 0.59px;
  line-height: 1.33;
  font-weight: 700;
  padding-bottom: 25px;
}
.auth-container .login-welcome-img {
  padding: 30px 30px 0;
  width: 100%;
}
.login-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.login-section .login-text {
  font-size: 24px;
  color: #000;
  margin: 6% 0 0 2%;
  letter-spacing: 0.59px;
  line-height: 1.33;
  font-weight: 550;
  padding-bottom: 25px;
  text-align: center;
}
.login-section .login-para {
  font-size: 18px;
  color: #a0a0a0;
  margin-bottom: 50px !important;
  line-height: 1.44;
}
.login-section .login-input-wrapper {
  background-color: #fff;
  border-radius: 5px;
  width: 70%;
}
.login-section .login-input-wrapper input {
  border: 0.5px solid #979797 !important;
  border-radius: 5px !important;
  height: 50px;
  padding: 10px;
  outline: none;
}
.login-section .login-btn {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  outline: none;
  letter-spacing: 0.5px;
  background-color: #42a2a2;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 550;
}
.login-section .login-btn:hover {
  background-color: #5cb4b4;
}
.login-section .forget-password span a {
  font-size: 15px;
  color: #45a2a2;
}
.register span a {
  font-size: 15px;
  color: #45a2a2;
}
.form-control {
  /* width: 70% !important; */
  padding: 10px !important;
}

@media (max-width: 767px) {
  .login-welcome-img {
    display: none;
  }
  .welcome-section {
    height: 50px;
  }
  .login-section .login-para {
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
  }
  .auth-container .login-welcome-text {
    margin: 3% 0 0 5%;
    font-size: 20px;
    text-align: center;
  }
  .login-section .login-text {
    margin: 3% 0 0 2%;
    font-size: 20px;
  }
}

@media (max-width: 460px) {
  .login-section .login-text {
    margin: 6% 0 0 2%;
    font-size: 17px;
  }
  .auth-container .login-welcome-text {
    margin: 3% 0 0 6%;
    font-size: 18px;
  }
}
/* home page css */
.home-page-container {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 138px;
}
.home-page-container ul {
  margin-top: 0;
  margin-bottom: 0;
}
.alice-carousel__stage li .banner {
  width: 97% !important;
  height: auto !important;
  margin-right: 20px !important;
  cursor: pointer;
}

.alice-carousel__stage li .banner img {
  width: 100%;
}
/* Featured product css */
.featured-slider {
  margin-top: 30px;
}
.featured-slider ul {
  overflow-x: scroll;
  display: flex;
  /* justify-content: center */
}
.featured-slider .slider-inner {
  margin: 0px 25px 0px 0px;
  min-width: 108px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.18px;
  margin-top: 6px;
  font-size: 11px;
  cursor: pointer;
}
.featured-slider .slider-inner .slider-image {
  height: 175px;
  width: 125px;
}
.featured-slider .slider-inner .slider-image img {
  width: 100%;
  border-style: none;
  display: block;
}

.featured-slider ul::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none !important;
}
@media (max-width: 769px) {
  .featured-slider .slider-inner {
    min-width: 54px;
  }
}
/* Best Sellers Wrapper */
.best-sellers-wrapper {
  margin: 40px 0px;
  padding: 30px 0px;
}
.best-sellers-wrapper .section-heading {
  margin: 20px 0px;
}
.best-sellers-wrapper .section-heading h4 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  color: black;
  text-align: center;
}
.product-widget {
  margin-top: 40px;
}
.product-card-box {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;
}
.product-card-img {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.product-card-img img {
  transition: all 0.2s ease-in-out 0s;
  object-fit: cover;
}

.product-card-img:hover img {
  transform: scale(1.06);
  background-color: rgb(249, 247, 246);
}
.product-seller-tag {
  min-height: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
}
.product-seller-tag span {
  font-weight: 550;
  padding: 10px 0;
  width: 100%;
  padding: 4px 8px;
  font-size: 8px !important;
  line-height: 10px !important;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(82, 82, 82, 0.8);
}
.product-card-detail {
  width: 100%;
  padding: 8px 0 0;
  max-height: 100px;
  min-height: 82px;
  overflow: hidden;
  position: relative;
}
.product-card-detail .product-naming {
  overflow-x: hidden;
  width: 70%;
}
.product-card-detail .product-naming .brand-name {
  color: #4f5362;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 550;
}
.product-card-detail .product-naming .name {
  margin-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 10px !important;
  line-height: 12px !important;
  color: #737373 !important;
}

.product-card-detail .wishlist-product {
  cursor: pointer;
  margin-right: 4px;
}
.product-card-detail .wishlist-product img {
  vertical-align: middle;
  border-style: none;
}
.product-price-box .discounted-price-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}
.product-price-box .discounted-price-text span {
  font-size: 9px;
  line-height: normal;
}
.product-price-box .actual-price-text {
  padding-left: 7px;
  text-decoration: line-through;
  font-size: 9px;
  line-height: 15px;
  padding-top: 2px;
}
.product-price-box .actual-price-text span {
  font-size: 9px;
  line-height: normal;
}
.product-price-box .discount-percent {
  padding-left: 8px;
  font-size: 9px;
  line-height: 15px;
  padding-top: 2px;
  color: green;
}
@media (max-width: 480px) {
  .card-col {
    width: max-content !important;
    flex-wrap: wrap;
  }
}

/* product details */
.product-wrapper {
  margin-top: 90px;
}
.breadcrumbox {
  padding: 12px;
}
.breadcrumbox ul li {
  cursor: pointer;
  display: inline-block;
  padding-right: 14px;
}
.breadcrumbox ul li a {
  font-size: 12px;
  color: #2d2d2d;
}
.breadcrumbox ul li:after {
  content: "/";
  clear: both;
  font-size: 12px;
  padding-left: 14px;
}
.breadcrumbox ul li:last-child::after {
  padding-right: 0;
  content: " ";
}
.product-details-container {
  margin-top: 20px;
}

.details-wrapper .manufacturer-name .brand-name {
  font-size: 18px;
  line-height: 21px;
  color: #4f5362;
  font-weight: 550;
}
.details-wrapper .product-desc .product-name {
  font-weight: 500;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 25px;
  /* padding-top: 8px; */
  color: #737373;
}
.details-wrapper .product-desc .price-details {
  padding: 5px 0 0;
}
.price-container .selling-price {
  font-size: 24px;
  color: #0f0f0f;
  line-height: 24px;
  font-weight: 550;
}
.price-container .selling-price span {
  font-size: 16px;
  line-height: 18px;
}
.price-container .disc-price {
  text-decoration: line-through;
  color: #949494;
  font-size: 14px !important;
  line-height: 18px !important;
}
.price-container .offer-perc p {
  font-size: 16px;
  line-height: 19px;
  color: #00b852;
}
.price-details .inclusive-tax-text {
  width: max-content;
  color: #949494;
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;
}
.mr-2 {
  margin-right: 0.5rem;
}
.noPadding {
  padding: 0px;
}
.tags-rect {
  background-color: rgba(0, 184, 82, 0.8);
  color: rgb(255, 255, 255);
  border: none;
  margin: 8px 16px 8px 0px;
  padding: 3px 8px;
}
.tags-rect.second {
  background-color: white;
  color: rgb(115, 115, 115);
  border: 1px solid rgb(115, 115, 115);
}
.tags-rect .desk {
  font-size: 12px;
  line-height: 15px;
  font-weight: 550;
  text-transform: capitalize;
}

.tribe-container {
  font-size: 12px;
  margin-top: 4px;
  line-height: normal;
  cursor: pointer;
  padding: 7px 0;
}
.tribe-container::before {
  content: "";
  background: #eee;
  height: 3px;
  width: calc(100% + 0px);
  display: block;
  /* position: absolute; */
}
.tribe-msg-wrapper {
  padding: 16px 0;
}
.tribe-msg-wrapper .tribe-msg {
  line-height: normal;
}
.product-desc .size-container {
  margin-bottom: 32px;
  padding: 10px 0 0;
  position: relative;
}
.size-container::before {
  content: "";
  background: #eee;
  height: 3px;
  width: calc(100% + 0px);
  display: block;
  position: absolute;
  margin: -17px 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.color-block .color-name {
  font-size: 14px;
  font-weight: 550;
  text-transform: uppercase;
}
.color-block .multi-color-box {
  margin-top: 10px;
}
.multi-color-block {
  height: 42px;
  width: 42px;
  float: left;
  margin: 0 13px 13px 0;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.multi-color-block span div {
  height: calc(100%);
  background-color: rgb(14, 14, 14);
  border-radius: 8px;
}
.size-wrapper {
  display: inline-block;
  width: 100%;
}

.size-wrapper .size-outer-wrapper {
  margin-bottom: 10px;
}
.size-wrapper .size-outer-wrapper .select-size-title {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}
.size-wrapper .select-size .each-size {
  width: 48px;
  height: 48px;
  float: left;
  font-size: 14px;
  color: #000;
  text-align: center;
  margin: 0 9px 5px 0;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  line-height: 45px;
}
.add-button-wrapper {
  margin-bottom: 20px;
  width: 100%;
}
.add-buttons {
  gap: 16px;
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
  background-color: #fff;
}
.add-buttons .add-bag {
  background: #ffd84d;
  border-color: transparent;
  flex: 0.56 1 0%;
  cursor: pointer;
}
.add-buttons .btn-border {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  height: 44px;
}
.add-buttons .add-bag .bag-icon {
  height: 20px;
  width: 20px;
}
.add-buttons .add-bag span {
  font-size: 14px;
  line-height: 17px;
  color: #303030;
  padding-left: 8px;
  font-weight: 550;
}
.add-buttons .add-wishlist {
  flex: 0.56 1 0%;
  cursor: pointer;
}
.add-buttons .add-wishlist .bag-icon {
  height: 20px;
  width: 20px;
}
.add-buttons .add-wishlist span {
  font-size: 14px;
  line-height: 17px;
  color: #949494;
  font-weight: 550;
  padding-left: 8px;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
  width: 20px !important;
}
.about-product {
  position: relative;
  margin-top: 30px;
  /* margin-bottom: 30px; */
}
.about-product::before {
  content: "";
  background: #eee;
  height: 3px;
  width: calc(100% + 0px);
  display: block;
  position: absolute;
  margin: -17px 0;
}
.accordion-item {
  border: none !important;
  border-bottom: 1px solid #dee2e6 !important;
}
.accordion-title {
  position: relative;
  line-height: 19px !important;
}
.accordion img {
  margin-top: 2px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.accordion-title h2 {
  font-weight: 550;
  font-size: 14px !important;
  line-height: 19px !important;
  margin-bottom: 0 !important;
}
.accordion-subtitle {
  color: #878787;
  font-size: 12px !important;
  line-height: 15px !important;
}
.accordion-button:not(.collapsed) {
  color: #000 !important;
}
.accordion-button {
  padding: 12px 20px !important;
  background-color: #fff !important;
}
.accordion-button:focus {
  border-color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}
.coupon-body .desc-text {
  margin-left: 10px;
  line-height: 1.45;
  color: #606060;
  font-size: 12px;
}
.accordion-body {
  padding: 0.1rem 1.25rem !important;
}
.product-desc-text {
  color: #606060;
  font-size: 12px;
}
.trust-badge-container {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px;
}
.trust-badge-container .containerInner img {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
  color: #8f98a9;
}
.trust-badge-container .containerInner .trustBadgeTitle {
  font-family: montserrat-semibold, sans-serif !important;
  font-size: 8px !important;
  line-height: 12px !important;
  text-align: center;
  color: #8f98a9;
  width: 79px;
}
@media (min-width: 767px) {
  .product-gallery {
    position: sticky;
    top: 100px;
    z-index: 100;
  }
}
@media (max-width: 767px) {
  .size-container::before,
  .tribe-container::before {
    width: calc(100% + 10px);
  }
  .details-wrapper {
    margin-top: 20px !important;
  }
}

/* wishlist css */
.wishlist-wrapper {
  margin-top: 115px;
}
.add-to-cart-btn {
  width: 100%;
  bottom: 0;
  height: 35px;
}
.add-to-cart-btn .add-to-bag {
  width: 100%;
  border: 0;
  /* margin-bottom: 20px; */
  border-top: 0.5px solid #e3e5e9;
  cursor: pointer;
  padding: 5px 12px;
  height: max-content;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: #207bb4;
}
.add-to-cart-btn .add-to-bag span {
  height: 18px;
  width: 18px;
  margin-right: 6px;
}
.add-to-cart-btn .add-to-bag span img {
  width: 100%;
  height: 100%;
}
.product-seller-tag.remove-item {
  min-height: 15px;
  position: absolute !important;
}

.product-seller-tag.remove-item span {
  font-size: 9px !important;
}
.wishlist-wrapper .wishlist-empty {
  background: #fff;
  margin: 80px auto !important;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-family: montserrat, sans-serif !important;
  font-size: 18px !important;
  line-height: normalpx !important;
  min-height: 200px;
  max-width: 430px;
}
.wishlist-wrapper .wishlist-empty .empty-list-title {
  font-weight: 600;
  color: #292d35;
  font-size: 12px !important;
  line-height: 14px !important;
  margin-top: 21px;
}

.wishlist-wrapper .wishlist-empty .empty-list-subtitle {
  font-weight: 400;
  color: #8f98a9;
  width: 221px;
  font-style: normal;
  text-align: center;
  font-size: 12px !important;
  line-height: 14px !important;
  margin: 8px auto auto;
}
.wishlist-wrapper .wishlist-empty .wishlist-btn {
  margin: 20px 0 10px;
  height: 40px;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 16px !important;
  text-transform: uppercase;
  background-color: rgb(66, 162, 162);
  padding: 16px;
  display: inline-flex;
  cursor: pointer;
  width: 70%;
  font-size: 0.9rem;
  line-height: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(66, 162, 162);
  zoom: 1;
  user-select: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);

}
.wishlist-wrapper .wishlist-empty .wishlist-btn:hover {
  opacity: 0.7;
}

/* cart page */
.cart-wrapper {
  margin-top: 115px;
}
.cart-head .qty {
  font-weight: 500;
}
.bag-item-wrapper {
  padding: 30px;
  padding-bottom: 90px;
}
.cart-product-wrapper {
  background-color: rgb(244, 248, 251);
  margin-bottom: 20px;
}
.cart-product-wrapper .cart-product {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.cart-product-wrapper .cart-product .product-offer-wrapper {
  height: 60px;
  background-color: rgba(234, 128, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 10px 5px 10px 14px;
  line-height: 1.44;
}
.cart-product .offer-text {
  font-size: 14px;
}
.cart-product .offer-head {
  line-height: 1.44;
  font-weight: 550;
}
.cart-product .offer-btn {
  font-size: 16px;
  color: #ea8000;
  height: 48px;
  border: none;
  padding: 0 10px;
  background-color: transparent;
}
.cart-product-inner {
  padding: 0 15px;
}
.cart-product-inner .product-left {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
}
.cart-product-inner .product-left .product-img {
  width: 104px;
  min-height: 130px;
  max-height: 166px;
  min-width: 104px;
  position: relative;
}
.cart-product-inner .product-left .product-img a img {
  width: 100%;
  border-radius: 5px;
}

.product-left .product-text .product-name {
  font-size: 14px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.7);
}
.product-left .product-price {
  margin-bottom: 6px;
}
.product-left .product-price .disc-price {
  font-size: 18px;
  margin-right: 5px;
  font-weight: 550;
}
.product-left .product-price .actual-price {
  color: #9c9c9c;
  font-size: 14px;
  text-decoration: line-through;
}
.product-text .product-apply {
  display: flex;
  align-items: center;
  margin: 9px 0 14px;
}
.product-left .product-apply img {
  width: 18px;
  height: 18px;
}
.product-left .product-apply p {
  font-size: 14px;
  margin-left: 5px;
  font-weight: 500;
}
.product-quantity .select-quantity {
  width: 40% !important;
  font-weight: 500;
}
.product-left .product-msg {
  color: #db3a34;
  font-size: 12px !important;
  line-height: 13px !important;
  margin-top: 12px;
  font-weight: 500;
}
.cart-product-inner .cart-bottom {
  border-top: 2px solid rgba(0, 0, 0, 0.04);
  margin: 0 10px;
  font-size: 12px;
}
.cart-product-inner .cart-bottom .product-action {
  width: 100%;
  display: flex;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.cart-bottom .product-action .remove-cart-item {
  padding: 18px 0;
  width: 35%;
  border-right: 2px solid rgba(0, 0, 0, 0.04);
  cursor: pointer;
  font-size: 14px;
}
.cart-bottom .product-action .move-item-wishlist {
  padding: 18px 0;
  width: 65%;
  cursor: pointer;
  font-size: 14px;
}
.noPadding {
  padding-right: 0;
}
.right-section .offer-box {
  margin-bottom: 15px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
  color: rgb(45, 45, 45);
  line-height: 1.44;
  font-size: 14px;
  padding: 5px 15px;
}
.price-summary-box {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  margin-bottom: 30px;
  padding-right: 0;
}
.price-summary-box .summary-head {
  background: rgba(0, 0, 0, 0.04);
  padding: 13px 20px;
}
.price-summary-box .summary-head h4 {
  font-size: 11px;
  color: #000;
  font-weight: 550;
  margin-bottom: 0 !important;
}
.price-summary-box .summary-payment-box .price-calculate {
  padding-top: 16px;
  background-color: #fff;
  padding: 10px 16px;
}
.price-summary-box .summary-payment-box .price-calculate .inner {
  padding: 0 0 10px;
  border: none;
}
.price-summary-box .summary-payment-box .price-calculate .inner p {
  font-size: 12px;
  line-height: 18px;
  color: #292d35;
  margin: 0;
  font-weight: 500;
}
.price-summary-box .summary-payment-box .price-calculate .inner p.subtotal {
  font-weight: 600;
  font-size: 14px !important;
}
.add-address {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
  margin: 16px 0 0;
  width: 100%;
}
.add-address button {
  margin: 20px 0 10px;
  height: 40px;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 16px !important;
  text-transform: uppercase;
  background-color: rgb(66, 162, 162);
  padding: 16px;
  display: inline-flex;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
  line-height: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(66, 162, 162);
  zoom: 1;
  user-select: none;
  border-radius: 4px;
}
.trust-badge-wrapper {
  background-color: #fff !important;
}
.trust-badge-wrapper .container {
  padding: 15px;
}
.trust-badge-wrapper .container img {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
  color: #8f98a9;
}
.trust-badge-wrapper .container span {
  color: #9499a5;
  font-size: 8px !important;
  line-height: 12px !important;
  text-align: center;
}

@media (min-width: 767px) {
  .cart-item-container .right-section {
    position: sticky;
    top: 100px;
  }
}
